#controller{
	margin-top: 10px;
}

#controller div {
	display: block !important;
	float: left;
  	clear: left;
  	margin-bottom: 10px;
}

#brush-color-div {
	float: none !important;
	clear: none !important;
}

#controller span {
	color: rgb(0, 101, 255);
	float: left;
	clear: left;
}

#slider-line-width-child-div {
	float: left;
	clear: left;
}

canvas {
	cursor: crosshair;
}